:host {
  position: relative;
  .user-navbar {
    background: var(--primary-color);
    border: 1px solid var(--primary-color-darker);
    display: none;
    position: absolute;
    width: 200px;
    top: 100%;
    right: 0;
    margin: 0;
    padding: 0;
    &.show {
      display: block;
    }

    .nav-item {
      padding: 5px;

      .nav-link {
        color: #FFF;
        display: block;
        width: 100%;
        padding: 0 5px;
        box-sizing: border-box;
        border-radius: 3px;

        &:hover {
          background-color: rgba(255,255,255,0.5);
        }
      }
    }
  }
}
