body {
  background: #eef3ee;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 1300px;
  margin: auto;

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
