:host {
  padding: 30px;
  ::ng-deep {
    .form-wrapper {
      background-color: #FFF;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      margin: auto;
      width: 360px;
      padding: 10px 20px;
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;
      .form-control {
        display: flex;
        flex-direction: row;
        align-items: center;
        .form-label {
          width: 100px;
        }

        .form-field {
          flex-grow: 1;
        }
      }
    }
  }
}
